.setup__info {
  margin-bottom: var(--space-l);
}

.setup__exchanges {
  margin-bottom: var(--space-l);
}

.setup__exchanges-checkbox {
  margin: var(--space-xxs) 0;
}

.setup__actions {
  display: flex;
  justify-content: space-between;
}

.setup__selected-exchange:not(:last-child)::after {
  content: ', ';
}
