.holdings__quote-asset {
  display: block;
  min-height: 28px;
}

.holdings :global(.holdings__action-cell) {
  width: 130px;
}

.holdings__loading {
  margin: var(--space-m) auto;
  width: 50px;
}

.holdings :global(.holding) {
  border-top: 1px solid var(--color-border);
}
