# Ignore as many files as possible. This keeps the build context small.
*

!src/
!config/
!.babelrc
!babel.config.js
!backpack.config.js
!postcss.config.js
!next.config.js
!next.config.dist.js
!introspect.js

!yarn.lock
!package.json
!.env.defaults
