.card {
  background-color: var(--color-white);
  cursor: pointer;
  display: table-row;
}

.card:hover,
.card--active {
  background-color: var(--color-primary);
}

.card__info {
  display: flex;
  color: var(--color-grey);
  font-size: var(--font-size-s);
  line-height: 1;
  padding-top: var(--space-xxs);
  justify-content: space-between;
  flex-grow: 1;

  @media (--viewport-m) {
    padding: 0;
    width: 50%;
    flex-grow: unset;
  }
}

.card__rank {
  padding: 0 var(--space-m) 0 var(--space-m);
  font-size: var(--font-size-xl);
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid var(--color-border);
}

.card__name {
  font-weight: var(--font-weight-bold);
  line-height: 1;
  width: 100%;

  @media (--viewport-m) {
    flex-grow: 1;
    margin-right: var(--space-m);
    width: auto;
  }
}

.card__gav, .card__share-price, .card__inception-date, .card__version {
  margin: 0 40px;
}

.card__info-cell {
  width: 100%;
  padding: var(--space-s) var(--space-m) var(--space-s) 0;
  display: table-cell;
  border-bottom: 1px solid var(--color-border);
  vertical-align: middle;
}

.card__info-wrap {
  flex-grow: 1;
  align-items: center;

  display: flex;
  flex-wrap: wrap;
}

.card__label {
  font-weight: var(--font-weight-bold);
  display: block;
  padding-bottom: var(--space-xxs);
}

.card__rank-symbol {
  font-size: var(--font-size-xs);
}
