.policies__items {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.policies__item-wrap {
  display: flex;
  width: 100%;
  padding: var(--space-m);
  border: 1px solid var(--color-border);
  justify-content: space-between;
  line-height: 1;
}

.policies__item-wrap--inactive {
  cursor: pointer;
}

.policies__item-wrap--inactive:hover {
  border: 1px solid var(--color-primary-dark);
}

.policies__item-wrap--active {
  text-align: center;
  flex-direction: column;
  border: 1px solid var(--color-primary-dark);
}

.policies__item-add {
  flex: 0 1 auto;
  line-height: 0;
}

.policies__item {
  flex: 0 0 50%;
  padding: 8px;

  @media (--viewport-m) {
    flex: 0 0 33.33%;
  }
}
