.default-template__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.default-template__footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.default-template__content-wrap {
  margin-top: 50px;
}

.default-template__title {
  background-color: var(--color-secondary);
  padding: 12px 16px 12px;

  @media (--viewport-s) {
    padding: 12px 7% 12px;
  }
}

.default-template__content {
  margin: 16px;

  @media (--viewport-s) {
    margin: 16px 7%;
  }
}

.default-template__navigation {
  padding: 0 16px;
  border-bottom: 2px solid var(--color-border);

  @media (--viewport-s) {
    padding: 0 7%;
  }
}
