.transaction-progress {
  margin-bottom: var(--space-m);
}

.transaction-progress__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  padding: var(--space-xs) 0;
  align-items: center;
}

.transaction-progress__checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid var(--color-primary-dark);
  transition-property: background-color;
  transition-duration: vvar(--transition-duration-default);
  background-color: var(--color-primary-dark);
  border-radius: 50%;
}

.transaction-progress__checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.transaction-progress__status--is-complete
  .transaction-progress__checkmark::after {
  display: block;
}
