.transaction-progress__bar {
  padding: var(--space-xs) 0;
  display: flex;
  flex-wrap: wrap;
  counter-reset: step;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-m);
}

.transaction-progress__bar::after {
  content: '';
  border-bottom: 1px solid var(--color-primary-dark);
  width: 100%;
  position: relative;
  top: -11px;
}

.transaction-progress__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--color-primary-dark);
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: var(--font-size-s);
  z-index: 1;
  background-color: var(--color-primary);
}

.transaction-progress__item::before {
  counter-increment: step;
  content: counter(step);
  width: 100%;
}

.transaction-progress__checkmark {
  display: none;
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid var(--color-primary-dark);
  transition-property: background-color;
  transition-duration: vvar(--transition-duration-default);
  background-color: var(--color-primary-dark);
  border-radius: 50%;
}

.transaction-progress__checkmark::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.transaction-progress__item--is-complete .transaction-progress__checkmark {
  display: block;
}

.transaction-progress__item--is-complete {
  border: none;
}

.transaction-progress__item--is-complete::before {
  content: '';
}

.transaction-progress__item--is-active {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-secondary);
  border-radius: 20px;
  border: 1px solid var(--color-primary-dark);
}

.transaction-progress__active-item {
  margin: var(--space-xs) 0;
  font-weight: var(--font-weight-bold);
}
