.download-wallet {
  max-width: 768px;
  margin: 0 auto var(--space-xl) auto;
}

.download-wallet__input {
  margin-bottom: var(--space-m);
}

.download-wallet__error {
  color: var(--color-loss);
}

.download-wallet__actions {
  display: flex;
  justify-content: space-between;
}
