.home-template__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.home-template__content-wrap {
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 33px);
}

.home-template__title {
  background-color: var(--color-secondary);
  padding: 16px 16px;

  @media (--viewport-s) {
    padding: 16px 7%;
  }
}

.home-template__content {
  margin: 16px 0;

  @media (--viewport-m) {
    margin: 16px 7%;
  }
}
