.account {
  max-width: 400px;
  margin: 0 auto var(--space-xl) auto;
}

.account__loading {
  margin: var(--space-s) auto;
  text-align: center;
}

.account__wallet {
  background-color: var(--color-border);
  padding: var(--space-xxs) var(--space-m);
}
