.title {
  position: relative;
  display: flex;
}

.title__title {
  margin: 0;
}

.title__title::after {
  border: none;
}

.title__icon-wrapper {
  padding: var(--space-xs) 0;
  flex: 0 0 80px;
}

.title__icon {
  display: inline-block;
  padding: 15px;
  background-color: color-mod(var(--color-secondary-dark) a(30%));
  font-size: 0;
  border-radius: 50%;
}

.title__headline {
  align-self: center;
}

.title__text {
  margin-top: var(--space-xs);
}
