.default-template__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.default-template__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.default-template__content-wrap {
  margin-top: 50px;
}

.default-template__title {
  background-color: var(--color-secondary);
  padding: 12px 16px 12px;

  @media (--viewport-s) {
    padding: 12px 7% 12px;
  }
}

.default-template__content {
  margin: 16px;

  @media (--viewport-s) {
    margin: 16px 7%;
  }
}
