.setup-form__info {
  margin-top: var(--space-l);
}

.setup-form__exchanges {
  margin-bottom: var(--space-l);
}

.setup-form__exchanges-checkbox {
  margin: var(--space-xxs) 0;
}

.setup-form__actions {
  display: flex;
  justify-content: space-between;
}

.setup-form__selected-exchange:not(:last-child)::after {
  content: ', ';
}
