.textarea {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  border: 1px solid var(--color-border);
  padding: var(--space-xs);
  line-height: 1;
  background-color: var(--color-white);
  -webkit-appearance: none;
  border-radius: 0;
}

.textarea__error {
  display: none;
  font-size: var(--font-size-s);
  color: var(--color-white);
  padding: var(--space-xs);
  line-height: 1;
}
