.volume-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  overflow: hidden;
}

.volume-bar .volume-bar__item {
  position: absolute;
  top: 0;
  bottom: 0;
}

.volume-bar__item--sell {
  left: 0;
  background-color: color-mod(var(--color-loss) a(20%));
}

.volume-bar__item--buy {
  right: 0;
  background-color: color-mod(var(--color-profit) a(20%));
}
