.wallet {
  max-width: 400px;
  margin: 0 auto var(--space-xl) auto;
}

.wallet__loading {
  margin: var(--space-s) auto;
  text-align: center;
}

.wallet__info {
  background-color: var(--color-border);
  padding: var(--space-xxs) var(--space-m);
}

.wallet__info-value {
  font-weight: var(--font-weight-bold);
}
