.tile {
  border: 1px solid var(--color-border);
  padding: var(--space-m);
  cursor: pointer;
}

.tile--active {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary-dark);
}

.tile--error {
  border: 1px solid var(--color-loss);
}

.tile:hover {
  border: 1px solid var(--color-secondary-dark);
}
