.orderbook {
  max-height: 494px;
}

.orderbook__loading {
  margin: var(--space-m) auto;
  width: 50px;
}

.orderbook__tables {
  display: flex;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 459px;
}

.orderbook__tables :global(.orderbook-table) {
  flex: 0 0 50%;
}

.orderbook__exchanges {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--space-s) var(--space-xs) var(--space-s);
}

.orderbook__exchange-label {
  font-weight: var(--font-weight-bold);
  margin: 0 var(--space-m) var(--space-xs) 0;
}

.orderbook__exchange {
  margin: 0 var(--space-m) var(--space-xs) 0;
}

.orderbook__tables::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--color-border);
}

.orderbook__tables::-webkit-scrollbar-track,
.orderbook__tables::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.orderbook__tables::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  border-radius: 3px;
}
